<form action="/posts" method="POST">
    <p class="title">Title:</p>
    <input type="text" name="title" />
    <p>Content:</p>
    <textarea name="content" cols="30" rows="10"></textarea>
    <button type="submit">Create Post</button>
</form>