<header>
    <h1>List of Posts:</h1>
</header>
<div>
    {{#each posts}}
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <button class="btn btn-success">Delete</button></a>
    <hr>
    {{/each}}
</div>