<h3 class="mb-4 mt-4 center">Signup</h3>
<div class="card">
    <div class="card-body">
        <form action="/users/signup" method="POST">
            <input type="text" name="username" class="form-control" />
            <input type="email" name="email" class="form-control" />
            <input type="password" name="password" class="form-control" />
            <input type="password" name="password_confirm" class="form-control" />
            <button type="submit" class="btn btn-success mt-4">Signup</button>
        </form>
    </div>
</div>